.social-links {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.about-grid {
    display: grid;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}
.about-text p {
    color: #45f335;
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 16px;
}
.skills h3 {
    font-weight: 600;
    margin-bottom: 15px;
    color: #54e230;
    font-size: 1.1em;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-badge {
    display: inline-block;
    color: #2cf82c;
    border-radius: 20px;
    padding: 6px 15px;
    font-size: 14px;
    font-weight: 500;
}

.contact-text {
    text-align: center;
    margin-bottom: 50px;
}
.contact-text p {
    margin-top: 15px;
    font-size: 16px;
}
.contact-social {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}




.social-link {
    text-decoration: none;
    color: #4bf734;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}

.social-link:hover {
    color: #1b62a5;
}

@media (min-width: 768px) {
    .hero-text h1 {
        font-size: 3em;
    }

    .about-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .hero-text h1 {
        font-size: 3.5em;
    }
}