@import 'main.css';
@import 'footer.css';
@import 'dam ok.css';
@import 'dam ok 2.css';
@import 'contact.css';
@import 'button.css';
html{
background-color:rgb(0, 0, 0);
font-family: 'Pixelify Sans';
}

.upupup{
    Border : 2px dashed rgb(65, 255, 0);
    text-align: center;
    padding: 10px;
}
footer{
    Border : 2px dashed rgb(65, 255, 0);
    padding: 10px;
    text-align: center;
}
.end{
    margin: .1%;
}